@charset "ISO-8859-1";
*
{
	margin:0px;
}
header,footer{
	height:100px;
	background-color:gray;
}
ul li{
	display: inline-block;
	margin-left:20px;
}
ul li a{
	color:white;
}
#middle{
	height:500px;
	background-color:red;
}